:root {
  --primary:#8fc363;
  --secondary:#9064f6;
  --tertiary:#9ab8ff;
  --a:#f8db58;
  --b:#ff5353;
  --white:#FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;

}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25rem;
  line-height: 1.5;
  text-align: left;
  margin-left: 5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(var(--primary), var(--secondary));
}

p {
  font-size: 1.5rem;
}

a {
  color: var(--white);
}

a:hover {
  color: var(--white);
}





.big-heading {
  font-size: 3.5rem;
  font-weight: 1000;
  line-height: 1.5;
  justify-content: center;
  width:100%;
  text-decoration: underline;
  margin-bottom: 5%;
}



/* About Me */

#mainTitle {
  padding: 3% 5% 5% 5%;
  text-align: center; 
  color: var(--white);
}


.hobby-sep {
  border-top: 17px dotted var(--white);
  width: 6%;
  margin-top: 4%;
  margin-bottom: 4%;
  justify-content: center;
}

.hobby {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.hobby-h2 {
  margin: auto;
  align-self: center;
  width:100%;
}

.hobby-left {
  text-align: left;
}

.hobby-right {
  text-align: right;
}


ul {
  margin: 0;
}

.games {
  text-align: left;
  list-style: inside;
  font-size: 1.5rem;
  margin:0;
}

ul.games {
  list-style-type: none;
}
ul.games > li {
  text-indent: -20px;
}
ul.games > li:before {
  content: "-";
  text-indent: -20px;
}

.links-row {
  margin: 4% 6% 5% 6%;
}
.links-row p{
  margin-top: 3%;
}

.link-icon:hover {
  opacity: 75%;
}

/* Music */
.music-image {
  width:90%;
}

.music-h2 {
  width: 70%;
  margin: auto;
  align-self: center;
  margin-bottom: 4%;
}



#steam {
  justify-content: center;
}

#console {
  justify-content: space-around;
}

/* Footer */

#footer {
  text-align: center;
  padding: 0;
}

.footer-icon {
  padding: 3% 4%;
  
}

.footer-link {
  color: #dddddd;
  display:inline-block;
  width: 14px;
  height: 6px;
  margin: 1% 3%;
  
}

#footer p {
  color: #dddddd;
  margin-top:1%;
  opacity: 0.4;
  font-size: 1rem;
}

/* Media */

@media (max-width: 992px) {
  .title-image{
    position: static;
    width: 60%;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}