h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;

}

h2 {
  font-family: 'Work Sans', sans-serif;;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #66806A;
}

.big-heading {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.5;
  text-align: left;
  width:100%;
}

#title {
  background-color: #66806A;
}


/* About Me */

#mainTitle {
  padding: 2% 5% 2% 5%;
  text-align: center;
  background-color: #B4C6A6;
  color: #fff;
}



/* Footer */

#footer {
  background-color: #66806A;
  text-align: center;
  padding: 0;
}

.footer-icon {
  padding: 3% 4%;
  
}

.footer-link {
  color: #dddddd;
  display:inline-block;
  width: 14px;
  height: 6px;
  margin: 1% 3%;
  
}

#footer p {
  color: #dddddd;
  margin-top:1%;
  opacity: 0.4;
}

/* Media */

@media (max-width: 992px) {
  .title-image{
    position: static;
    width: 60%;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}